.hero.is-primary {
  background-color: red;
}

.game-image.is-large {
  width: 500px;
  height: 400px
}

.title.is-1,
.subtitle {
  text-align: center;
}

.tags.is-centered {
  text-align: center;
}

.add-game-button {
  margin-top: 20px;
  text-align: center;
}

.hero.is-medium.is-primary {
  background-color: red;
  /* Add your desired red color here */
}
.search-input::placeholder {
  color: black; /* Change the color to black */
}