.hero.is-primary {
  background-color: cyan;
}

.game-image.is-large {
  width: 500px;
  height: 400px
}

.title.is-1,
.subtitle {
  text-align: center;
}

.tags.is-centered {
  text-align: center;
}

.add-game-button {
  margin-top: 20px;
  text-align: center;
}

.background-color{
  background-color: cyan;
  /* Add your desired red color here */
}

.is-max-w-200 {
  max-width: 200px; 
}